@import "../Theme";
$game-canvas: 300px;

.game-canvas-wrapper{
  display: flex;
  width: 100vw;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.game-canvas {
  position: relative;
  width: $game-canvas * 2;
  height: $game-canvas * 2;
  //background-color: white;

  .object {
    position: absolute;
    border-radius: $game-canvas * 2;
  }

  .map{
    background-color: $surface-color;
    opacity: 0.25;
  }

  .boundary{
    border-width: 2px;
    border-style: solid;
    border-color: white;
    opacity: 0.25;
  }

  .player{
    background-color: white;
  }

  .food{
    background-color: lime;
  }

  .wormhole{
    background-color: yellow;
    opacity: 0.75;
  }

  .gas-cloud{
    background-color: orange;
    opacity: 0.25;
  }

  .asteroid-cloud{
    background-color: steelblue;
    opacity: 0.25;
  }

  .torpedo{
    background-color: red;
  }

  .object-text{
    color: $text-color;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    z-index: 100;
  }

}
