@import "Theme";
@import "components/AppHeader";
@import "components/GameCanvas";
@import "components/UnderlineStatus";


body{
  background-color: $background-color;
  display: flex;
}

.app-body {
  width: 100vw;
  flex: 1;
  background-color: $background-color;
}

